* *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    /* outline: dotted red; */
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: Popins, sans-serif;
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25em 1.875em;
    box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

.bold {
    font-weight: 600;
}

.gray {
    color : #918E9B;
}

.nav--logo {
    width: 5.125em;
    height: 1.56em;
}

.hero--image {
    width: 80%;
    height: 100%;
    margin: 2em auto;
    object-fit: cover;
}

.hero--text {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    width: 60%;
    line-height: 1.2;
    margin: 0.5em 0;
}

.card {
    width: 11em;
    font-size: 0.875rem;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 0.8rem;
}
